@page "/saldo"
@rendermode InteractiveServer

@attribute [Authorize]

@inject ITopUpService TopUpService
@inject AuthenticationStateProvider AuthenticationStateProvider
@using SSSKLv2.Data
@using SSSKLv2.Services.Interfaces
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using SSSKLv2.Components.Account

<PageTitle>SSSKLv2 | Saldo opwaarderingen</PageTitle>

<h1>Saldo opwaarderingen</h1>

<div class="grid">
    <QuickGrid Items="@TopUps" Pagination="@pagination">
        <PropertyColumn Title="Datum" Property="@(t => t.CreatedOn)" Format="dd/MM/yyyy" Sortable="true" Align="Align.Left" />
        <TemplateColumn Title="Naam" Context="topup">
            @topup.User.Name @topup.User.Surname
        </TemplateColumn>
        <TemplateColumn Title="Saldo" Context="topup">
            + @topup.Saldo.ToString("C")
        </TemplateColumn>
    </QuickGrid>
</div>

<Paginator State="@pagination" />

@code {
    
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    
    public IQueryable<TopUp> TopUps = default!;
    
    public PaginationState pagination = new PaginationState() { ItemsPerPage = 15 };

    protected override async Task OnInitializedAsync()
    {
        await GetDataAsync();
    }

    private async Task GetDataAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (state.User.Identity != null && state.User.Identity.IsAuthenticated)
        {
            if (state.User.Identity.Name != null) 
                TopUps = await TopUpService.GetPersonalQueryable(state.User.Identity.Name);
        }
    }
}