@page "/admin/topups"
@rendermode InteractiveServer

@attribute [Authorize(Policy = Policies.Admin)]

@implements IDisposable
@implements IAsyncDisposable

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject ITopUpService TopUpService
@using SSSKLv2.Data
@using SSSKLv2.Services.Interfaces
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using SSSKLv2.Components.Account

<PageTitle>SSSKLv2 | Saldobeheer</PageTitle>

<div class="row crud-form-header">
    <div class="col-10 title-container">
        <h1>Saldobeheer</h1>
    </div>
    <div class="col-2 text-end back-container">
        <a class="btn btn-success bg-lg" href="/admin/topups/create" role="button"><i class="bi bi-plus-circle"></i></a>
    </div>
</div>

<div class="table-responsive">
    <QuickGrid Items="@TopUps" Pagination="@Pagination">
        <PropertyColumn Title="Datum" Property="@(t => t.CreatedOn)" Format="dd/MM/yyyy" Sortable="true" Align="Align.Left" />
        <TemplateColumn Title="Naam" Context="topup">
            @topup.User.Name @topup.User.Surname
        </TemplateColumn>
        <TemplateColumn Title="Saldo" Context="topup">
            <span class="text-nowrap">+ @topup.Saldo.ToString("C")</span>
        </TemplateColumn>
        <TemplateColumn Title="#" Context="topup">
            <a class="btn btn-danger btn-sm" href="@($"admin/topups/delete?id={topup.Id}")" role="button"><i class="bi bi-trash"></i></a>
        </TemplateColumn>
    </QuickGrid>
</div>

<Paginator State="@Pagination" />


@code {
    public IQueryable<TopUp> TopUps = default!;
    public PaginationState Pagination = new PaginationState() { ItemsPerPage = 12 };

    private ApplicationDbContext? DbContext;

    protected override async Task OnInitializedAsync()
    {
        DbContext = await DbContextFactory.CreateDbContextAsync();
        GetDataAsync();
    }

    private void GetDataAsync()
    {
        if (DbContext != null) TopUps = TopUpService.GetAllQueryable(DbContext);
    }

    public void Dispose()
    {
        DbContext?.Dispose();
    }

    public async ValueTask DisposeAsync()
    {
        if (DbContext != null) await DbContext.DisposeAsync();
    }

}
