@page "/admin/topups"
@rendermode InteractiveServer

@attribute [Authorize(Policy = Policies.Admin)]
@inject ITopUpService TopUpService
@using SSSKLv2.Data
@using SSSKLv2.Services.Interfaces
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using SSSKLv2.Components.Account

<PageTitle>SSSKLv2 | Saldobeheer</PageTitle>

<div class="row crud-form-header">
    <div class="col-10 title-container">
        <h1>Saldobeheer</h1>
    </div>
    <div class="col-2 text-end back-container">
        <a class="btn btn-success bg-lg" href="/admin/topups/create" role="button"><i class="bi bi-plus-circle"></i></a>
    </div>
</div>

<div class="grid">
    <QuickGrid Items="@TopUps" Pagination="@pagination">
        <PropertyColumn Title="Datum" Property="@(t => t.CreatedOn)" Format="dd/MM/yyyy" Sortable="true" Align="Align.Left" />
        <TemplateColumn Title="Naam" Context="topup">
            @topup.User.Name @topup.User.Surname
        </TemplateColumn>
        <TemplateColumn Title="Saldo" Context="topup">
            <span class="text-nowrap">+ @topup.Saldo.ToString("C")</span>
        </TemplateColumn>
        <TemplateColumn Title="#" Context="topup">
            <a class="btn btn-danger btn-sm" href="@($"admin/topups/delete?id={topup.Id}")" role="button"><i class="bi bi-trash"></i></a>
        </TemplateColumn>
    </QuickGrid>
</div>

<Paginator State="@pagination" />


@code {
    
    public IQueryable<TopUp> TopUps = default!;
    
    public PaginationState pagination = new PaginationState() { ItemsPerPage = 15 };

    protected override async Task OnInitializedAsync()
    {
        await GetDataAsync();
    }

    private async Task GetDataAsync()
    {
        TopUps = await TopUpService.GetAllQueryable();
    }
}
