<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Assets["SSSKLv2.styles.css"]" />
    <link rel="manifest" href="@Assets["sssklv2.webmanifest"]" />
    <link rel="icon" type="image/png" sizes="32x32" href="@Assets["favicon-32x32.png"]">
    <link rel="icon" type="image/png" sizes="16x16" href="@Assets["favicon-16x16.png"]">
    <link rel="apple-touch-icon" href="@Assets["icon.png"]">
    <meta name="apple-mobile-web-app-title" content="SSSKLv2">
    <meta name="application-name" content="SSSKLv2" />
    <meta name="description" content="Stam stam stam..." />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="#212529" />
    <meta name="apple-itunes-app" content="app-id=6478114247">
    <meta name="robots" content="noindex,nofollow">
    <ImportMap />
    <HeadOutlet />
</head>
<body>
<Routes />
<script src="_framework/blazor.web.js"></script>
</body>
</html>
