@page "/Account/Administration"
@rendermode InteractiveServer

@attribute [Authorize(Policy = Policies.Admin)]

@using Microsoft.AspNetCore.Identity;
@using SSSKLv2.Data
@using SSSKLv2.Services.Interfaces
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid

@inject UserManager<ApplicationUser> _UserManager
@inject IApplicationUserService _ApplicationUserService

<PageTitle>SSSKLv2 | Gebruikersbeheer</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Gebruikersbeheer</h1>
        @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
        {
            @if (ColUsers == null)
            {
                <p><em>Laden...</em></p>
            }
            else
            {
                <div class="table-responsive">
                    <QuickGrid Items="@ColUsers" Pagination="@pagination">
                        <TemplateColumn Title="Volledige naam" Context="u">
                            @u.Name @u.Surname
                        </TemplateColumn>
                        <TemplateColumn Title="#" Context="u">
                            <button class="btn btn-sm btn-info"
                                    @onclick="(() => EditUser(u))">
                                <i class="bi bi-pen"></i>
                            </button>
                        </TemplateColumn>
                    </QuickGrid>
                </div>
                <Paginator State="@pagination" />
            }
            @if (ShowPopup)
            {
                <!-- This is the popup to create or edit a user -->
                <div id="edit-modal" class="modal" tabindex="-1" style="display:block;z-index: 10001;" role="dialog">
                    <div class="modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Gebruiker aanpassen</h3>
                                <!-- Button to close the popup -->
                                <button type="button" class="btn-close" aria-label="Close" @onclick="ClosePopup"></button>
                            </div>
                            <!-- Edit form for the current forecast -->
                            <div class="modal-body">
                                <!-- Only allow edit if a new user -->
                                <b>Gebruikersnaam</b>
                                @if (objUser.Id != "")
                                {
                                    <p>@objUser.UserName</p>
                                }
                                else
                                {
                                    <input class="form-control" type="text"
                                           @bind="objUser.UserName"/><br/>
                                }
                                <b>Voornaam</b>
                                <input class="form-control" type="text"
                                       @bind="objUser.Name"/>
                                <br/>
                                <b>Achternaam</b>
                                <input class="form-control" type="text"
                                       @bind="objUser.Surname"/>
                                <br/>
                                <b>Saldo</b>
                                <div class="input-group">
                                    <span class="input-group-text">€</span>
                                    <input class="form-control" type="number"
                                           @bind="objUser.Saldo"/> 
                                </div>
                                <br/>
                                <b>E-mail</b>
                                <input class="form-control" type="text"
                                       placeholder="Email"
                                       @bind="objUser.Email"/>
                                <br/><b>Email Bevestigd</b>
                                <select class="form-control"
                                        @bind="@EmailConfirmed">
                                    @foreach (var option in OptionsTrueFalse)
                                    {
                                        <option value="@option">
                                            @option
                                        </option>
                                    }
                                </select>
                                <br/><b>Applicatie Rol</b>
                                <select class="form-control"
                                        @bind="@CurrentUserRole">
                                    @foreach (var option in Options)
                                    {
                                        <option value="@option">
                                            @option
                                        </option>
                                    }
                                </select>
                                <br/><b>Wachtwoord</b>
                                <input class="form-control" type="password"
                                       placeholder="Password"
                                       @bind="objUser.PasswordHash"/>
                                <br/>
                                <span style="color:red">@strError</span>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success"
                                        @onclick="SaveUser">
                                    Opslaan
                                </button>
                                <button class="btn btn-danger ms-auto"
                                        @onclick="ToggleDelete">
                                    Verwijderen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                @if (ShowDelete)
                {
                    <div id="delete-modal" class="modal show" tabindex="-1" style="display:block;z-index:10002;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Weet je het zeker?</h5>
                                    <button type="button" class="btn-close" @onclick="ToggleDelete" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Je staat op het punt '@objUser.Name @objUser.Surname' te verwijderen.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" @onclick="ToggleDelete">Terug</button>
                                    <button type="button" class="btn btn-danger" @onclick="DeleteUser">Verwijderen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <p>Je bent niet ingelogd als @ADMINISTRATION_ROLE.</p>
        }
    </Authorized>
</AuthorizeView>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    
    public PaginationState pagination = new() { ItemsPerPage = 12 };

    string ADMINISTRATION_ROLE = "Admin";
    ApplicationUser objUser = new ApplicationUser();
    IQueryable<ApplicationUser> ColUsers = default!;

    List<string> Options = new () { "User", "Admin", "Kiosk", "Guest" };
    List<string> OptionsTrueFalse = new () { "True", "False" };
    System.Security.Claims.ClaimsPrincipal CurrentUser;
    string EmailConfirmed { get; set; } = "False";
    string CurrentUserRole { get; set; } = "Users";
    string strError = "";
    string strSearch = "";
    bool ShowPopup = false;
    bool ShowDelete = false;

    protected override async Task OnInitializedAsync()
    {
        // Get the current logged in user
        CurrentUser = (await authenticationStateTask).User;

        CurrentUser.IsInRole("Admin");

        // Get the users
        await GetUsers();
    }

    public void ToggleDelete() => ShowDelete = !ShowDelete;

    public async Task GetUsers()
    {
        // clear any error messages
        strError = "";

        ColUsers = await _ApplicationUserService.GetAllUsersObscured();
    }

    void ClosePopup()
    {
        // Close the Popup
        ShowPopup = false;
    }

    async Task SaveUser()
    {
        try
        {
            // Is this an existing user?
            if (objUser.Id != "")
            {
                // Get the user
                var user = await _UserManager.FindByIdAsync(objUser.Id);

                // Update Email
                user.Email = objUser.Email;

                // Update DisplayName
                user.Name = objUser.Name;
                
                // Update DisplayName
                user.Surname = objUser.Surname;
                
                // Update Saldo
                user.Saldo = objUser.Saldo;

                // Set Email Confirmed
                user.EmailConfirmed = Convert.ToBoolean(EmailConfirmed);

                // Update the user
                await _UserManager.UpdateAsync(user);

                // Only update password if the current value
                // is not the default value
                if (objUser.PasswordHash != "*****")
                {
                    var resetToken = await _UserManager.GeneratePasswordResetTokenAsync(user);
                    var passworduser = await _UserManager.ResetPasswordAsync(user, resetToken, objUser.PasswordHash);

                    if (!passworduser.Succeeded)
                    {
                        if (passworduser.Errors.FirstOrDefault() != null)
                        {
                            strError = passworduser.Errors.FirstOrDefault().Description;
                        }
                        else
                        {
                            strError = "Password error";
                        }

                        // Keep the popup opened
                        return;
                    }
                }

                // Handle Roles

                // Is user in administrator role?
                var currentRole = await _UserManager.GetRolesAsync(user);
                await _UserManager.RemoveFromRolesAsync(user, currentRole);
                await _UserManager.AddToRoleAsync(user, CurrentUserRole);
            }

            // Close the Popup
            ShowPopup = false;

            // Refresh Users
            await GetUsers();
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }

    async Task EditUser(ApplicationUser _IdentityUser)
    {
        // Set the selected user
        // as the current user
        objUser = _IdentityUser;

        // Get the user
        var user = await _UserManager.FindByIdAsync(objUser.Id);

        if (user != null)
        {
            // Is user in administrator role?
            var UserResult = await _UserManager.IsInRoleAsync(user, ADMINISTRATION_ROLE);
            var role = await _UserManager.GetRolesAsync(user);
            CurrentUserRole = role.First();

            if (user.EmailConfirmed)
            {
                EmailConfirmed = "True";
            }
            else
            {
                EmailConfirmed = "False";
            }
        }

        // Open the Popup
        ShowPopup = true;
    }

    async Task DeleteUser()
    {
        // Close the Popup
        ShowPopup = false;
        ShowDelete = false;

        // Get the user
        var user = await _UserManager.FindByIdAsync(objUser.Id);
        if (user != null)
        {
            // Delete the user
            await _UserManager.DeleteAsync(user);
        }

        // Refresh Users
        await GetUsers();
    }
}