@page "/admin/orders"
@rendermode InteractiveServer

@attribute [Authorize(Policy = Policies.Admin)]

@implements IDisposable
@implements IAsyncDisposable

@inject IOrderService OrderService
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IJSRuntime JS
@inject ILogger<Admin.OrderPages.Index> Logger

@using System.Text
@using SSSKLv2.Data
@using SSSKLv2.Services.Interfaces
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using SSSKLv2.Components.Account

<PageTitle>SSSKLv2 | Orderbeheer</PageTitle>

<div class="row crud-form-header">
    <div class="col-10 title-container">
        <h1>Orderbeheer</h1>
    </div>
    <div class="col-2 text-end back-container">
        <a class="btn btn-success bg-lg" href="/admin/orders/export">Exporteren als CSV</a>
    </div>
</div>

<div class="table-responsive">
    <QuickGrid Items="@Orders" Pagination="@Pagination">
        <PropertyColumn Title="Datum" Property="@(o => o.CreatedOn)" Format="dd/MM/yyyy HH:mm" Sortable="true" Align="Align.Left" />
        <TemplateColumn Title="Gebruiker" Context="order">
            @order.User.Name @order.User.Surname
        </TemplateColumn>        
        <PropertyColumn Title="Product" Property="@(o => o.ProductNaam)" Sortable="true" Align="Align.Left" />
        <PropertyColumn Title="Hoeveel" Property="@(o => o.Amount)" Sortable="true" Align="Align.Right" />
        <PropertyColumn Title="Betaald" Property="@(o => o.Paid)" Format="C" Sortable="true" Align="Align.Right" />
        <TemplateColumn Context="order">
            <a class="btn btn-danger btn-sm" href="@($"admin/orders/delete?id={order.Id}")" role="button"><i class="bi bi-trash"></i></a>
        </TemplateColumn>
    </QuickGrid>
</div>

<Paginator State="@Pagination" />

@code {
    public IQueryable<Order> Orders = default!;
    public PaginationState Pagination = new() { ItemsPerPage = 12 };
    
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    
    private ApplicationDbContext? _dbContext;
    
    protected override async Task OnInitializedAsync()
    {
        _dbContext = await DbContextFactory.CreateDbContextAsync();
        GetData();
    }

    private void GetData()
    {
        if (_dbContext != null) 
            Orders = OrderService.GetAllQueryable(_dbContext);
    }
    
    private async Task ExportAllOrdersAsCsv()
    {
        var csv = OrderService.ExportOrdersFromPastTwoYearsToCsvAsync();
        var filename = $"orders-{DateTime.Now:yyyyMMddHHmmss}.csv";

        using var streamRef = new DotNetStreamReference(stream: new MemoryStream(Encoding.UTF8.GetBytes(csv.Result)));
        Logger.LogInformation("Exporting orders to CSV: {Filename}, done by {Username}", filename, HttpContext.User.Identity?.Name);

        await JS.InvokeVoidAsync("downloadFileFromStream", filename, streamRef);
    }

    public void Dispose()
    {
        _dbContext?.Dispose();
    }

    public async ValueTask DisposeAsync()
    {
        if (_dbContext != null) await _dbContext.DisposeAsync();
    }

}