@page "/admin/orders/{Page:int?}"
@attribute [Authorize(Policy = Policies.Admin)]

@inject IOrderService OrderService
@using SSSKLv2.Data
@using SSSKLv2.Services.Interfaces
@using Microsoft.AspNetCore.Authorization
@using SSSKLv2.Components.Account

<PageTitle>SSSKLv2 | Orderoverzicht</PageTitle>

<h1>Orderoverzicht</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Datum</th>
      <th scope="col">Gebruikersnaam</th>
      <th scope="col">Product</th>
      <th scope="col">Hoeveelheid</th>
        <th scope="col">Kosten</th>
        <th scope="col">#</th>
    </tr>
      </thead>
    <tbody>
    @foreach (var order in Orders.Value)
    {
        <tr>
            <td>@order.CreatedOn.ToString("dd/MM/yyyy")</td>
            <td>@order.User.Name</td>
            <td>@order.ProductNaam</td>
            <td>@order.Amount</td>
            <td>@order.Paid.ToString("C")</td>
            <td>
                <a class="btn btn-danger btn-sm" href="@($"admin/orders/delete?id={order.Id}")" role="button"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
    }
    </tbody>
  </table>
</div>

<Pagination
    TotalItems="Orders.TotalObjects"
    NavUrl="/admin/orders/" />

@code {
    [Parameter]
    public int? Page { get; set; }
    
    public PaginationObject<Order> Orders = new PaginationObject<Order>();

    protected override async Task OnInitializedAsync()
    {
        Page ??= 1;
        await GetDataAsync();
    }

    private async Task GetDataAsync()
    {
        Orders = await OrderService.GetAllPagination(Page!.Value);

    }
}
