@page "/admin/products/delete"
@inject SSSKLv2.Data.ApplicationDbContext DB
@using SSSKLv2.Data
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@using SSSKLv2.Components.Account
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Policy = Policies.Admin)]

<PageTitle>SSSKLv2 | Product Verwijderen</PageTitle>

<div class="row crud-form-header">
    <div class="col-9 title-container">
        <h1>Verwijderen</h1>
    </div>
    <div class="col-3 text-end back-container">
        <a class="btn btn-lg btn-secondary" href="/admin/products"><i class="bi bi-arrow-left"></i></a>
    </div>
</div>
<hr />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Product</h5>
            <hr/>
            @if (product is null)
            {
                <p><em>Laden...</em></p>
            }
            else
            {
                <dl class="row">
                    <dt class="col-sm-2">Naam</dt>
                    <dd class="col-sm-10">@product.Name</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">Beschrijving</dt>
                    <dd class="col-sm-10">@product.Description</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">Prijs</dt>
                    <dd class="col-sm-10">@product.Price.ToString("C")</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">Voorraad</dt>
                    <dd class="col-sm-10">@product.Stock</dd>
                </dl>
                <EditForm method="post" Model="product" OnValidSubmit="DeleteProduct" FormName="delete" Enhance>
                    <button type="submit" class="btn btn-danger" disabled="@(product is null)">Delete</button>
                </EditForm>
            }
    </div>
</div>

@code {
    Product? product;

    [SupplyParameterFromQuery]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        product = await DB.Product.FirstOrDefaultAsync(m => m.Id == Id);

        if (product is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteProduct()
    {
        DB.Product.Remove(product!);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/admin/products");
    }
}
