@page "/admin/products/details"
@inject SSSKLv2.Data.ApplicationDbContext DB
@using SSSKLv2.Data
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@using SSSKLv2.Components.Account
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Policy = Policies.Admin)]

<PageTitle>SSSKLv2 | Product Details</PageTitle>

<div class="row crud-form-header">
    <div class="col-md-9 title-container">
        <h1>Product Details</h1>
    </div>
    <div class="col-md-3 text-end back-container">
        <a class="btn btn-lg btn-secondary" href="/admin/products"><i class="bi bi-arrow-left"></i> Terug</a>
    </div>
</div>
<hr />

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Product</h5>
            <hr/>
            @if (product is null)
            {
                <p><em>Laden...</em></p>
            }
            else
            {
                <dl class="row">
                    <dt class="col-sm-2">ID</dt>
                    <dd class="col-sm-10">@product.Id</dd>
                    <dt class="col-sm-2">Naam</dt>
                    <dd class="col-sm-10">@product.Name</dd>
                    <dt class="col-sm-2">Beschrijving</dt>
                    <dd class="col-sm-10">@product.Description</dd>
                    <dt class="col-sm-2">Prijs</dt>
                    <dd class="col-sm-10">@product.Price.ToString("C")</dd>
                    <dt class="col-sm-2">Voorraad</dt>
                    <dd class="col-sm-10">@product.Stock</dd>
                </dl>
                <div>
                    <a class="btn btn-success" href="@($"/admin/products/edit?id={product.Id}")">Aanpassen</a>
                </div>
            }
    </div>
</div>

@code {
    Product? product;

    [SupplyParameterFromQuery]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        product = await DB.Product.FirstOrDefaultAsync(m => m.Id == Id);

        if (product is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
